
<!doctype html>

<%= link_to 'Home', root_path %>

<html>
<head>
    <title>Welcome </title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
</head>

<body>
<div>

	<h1><center> ABOUT</center></h1>
	
	<hr />
	
	<p><center><em>“This is the about page for assignment..”</em></center></p>


<h2><center><strong>Problem:</strong></center></h2> <center>This site was founded to address two needs in today’s society.</center>


<h2><center><strong>Our Solution:</strong></center></h2> <center>This service aims to pair these two groups of people together to help our communities heal and grow. People can donate either their <strong><em>time</strong></em> or <strong><u>money</strong></u> to help making others lives better.</center>

<hr />


</div>    
</body>
</html>

