<h1 align="center", class="header-form">Enter your Information and Receive an Offer in as Little as 24-48 Hrs</h1>


<div class="form-container">
  <div class="row">
    <div class="col-sm-offset-2 col-xs-8 ">

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Full Name" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">#</span>
  <input type="integer" class="form-control" placeholder="Enter Phone Number" aria-describedby="basic-addon2">
  
</div>

<div class="input-group">
  <input type="email" class="form-control" placeholder="Enter Email" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">@example.com</span>
</div>


