<div class="jumbotron">
  <div class="container">
    <h1 class="dmv"> DMV <span class="red">HOUSE</span> DOCTORS</h1><br />
    <h2 align="center"> We buy houses in as little as <span class="green"><u>7</u></span> Days!</h2><br /><br />
     <center><%= link_to "Get FREE Quote", root_path, class: "btn btn-primary btn-large btn-xlarge" %></center>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-xs-8 ">
      <h2 align="center">We Buy Houses in Any Condition</h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZD2F_hCYQHw"></iframe>
</div>
    </div>
   

